@font-face {
    font-family: 'ComicSans';
    src: url('fonts/comic-sans.ttf') format('truetype');

}

.title-block {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 1000px;
    text-align: center;

}

.title-block h1 {
    font-weight: normal;
    font-family: 'Times New Roman', Times, serif;
    font-size: 60px;
}

.middle-block {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);

    align-items: center;

    width: 750px;

    display: flex;

}

.globe-container img {
    width: 125px;
    height: 125px;

    margin-left: 85%;


}

.arrow-text {
    margin-left: 25%;

    font-size: 25px;

}

.text-container {
    margin-left: 10%;
}

.text-container h1 {
    font-weight: lighter;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;

}

.lower-block {
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;

    display: flex;
    align-items: center;

    width: 750px;

}

.text-container-two {
    margin-left: 12%;
}

.arrow-container {
    font-size: 25px;
    margin-left: 10%;
}

.brain-container img {
    width: 150px;
    height: 150px;

    margin-left: 50%;
}

.text-container-two h1 {
    font-weight: lighter;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;

}

.text-link {
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 80%;
}

.text-link a {

    font-size: 40px;

}

.top-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.marquee {
    width: 90%;

    white-space: nowrap;
    overflow: hidden;

}

.marquee div {
    font-size: 30px;
    color: #00FFAE;
    text-decoration: underline;

    animation: animate 30s linear infinite;
    padding-top: 20px;
    padding-left: 100%;
    display: inline-block;

}

.marquee div img {
    width: 59px;
    height: 73px;

    margin-left: 5px;
    margin-right: 5px;
}

@keyframes animate {
    100%{
        transform: translate(-100%, 0);
    }
}

.other-container {
    display: flex;
}

.world-events-container {
    position: absolute;
    padding-left: 3.5%;
    padding-top: 10%;
    width: 525px;
}

.title-text, .body-text {
    font-family: 'ComicSans', sans-serif;
    color: #39FF14;
    

}

.title-text {
    text-decoration: underline;
    text-align: center;

    font-size: 30px;
}

.body-text {
    font-size: 25px;
}


.yoshi {
    position: absolute;
    padding-left: 40%;
    padding-top: 5%;
}

.yoshi img {
    width: 250px;
    height: 324px;
}

.britney {
    position: absolute;

    padding-top: 5%;
    padding-left: 60%;
}

.britney img {
    width: 500px;
    height: 333.33px;

    transform: rotate(14.59deg);
}

.link-one {
    position: absolute;

    padding-top: 35%;
    padding-left: 27%;
}

.link-one a{
    font-family: 'ComicSans', sans-serif;
    color: #BF00FF;
    
    font-weight: bold;
    font-size: 30px;

    text-decoration: underline;
    

}


.portal {
    position: absolute;
    display: flex;

    padding-top: 40%;
    padding-left: 25%;
}

.l-arrow img, .r-arrow img{
    width: 75px;
    height: 62px;
}

.link-two a{
    font-family: 'Times New Roman', Times, serif;
    color: #FFFF00;

    font-size: 45px;

    text-decoration: none;
    padding-left: 20px;
    padding-right: 20px;
}

.footnote {
    display: flex;
    position: absolute;
    
    padding-top: 45%;
    padding-left: 2.5%;
}

.three-stars {
    position: absolute;
    display: flex;

    padding-top: 20px;
    padding-left: 5%;
}

.three-stars img {
    width: 100px;
    height: 94px;
}

.first-star {
    padding-right: 50px;
}

.second-star {
    padding-right: 50px;
}

@keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
}
  
.spinner {
    position: absolute;

    padding-top: 27%;
    padding-left: 56%;
}

.spinning-text {
    font-family: 'ComicSans', sans-serif;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;

    font-size: 25px;

    display: inline-block; /* important for transform to work properly */
    animation: spin 2s linear infinite;
}